.DS_Store
node_modules
dist
dist-ssr
*.local

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Doc files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
