$darker-background: #0f0f11;
$dark-background: #18181c;
$light-background: #201f27;
$lighter-background: #32323d;

$tile-joker-bg: #8c2155;
$tile-secret-bg: #e4717a;
$tile-obstacle-bg: #b9b9bb;
$tile-0-bg: #002b44;
$tile-2-bg: #86cb92;
$tile-4-bg: #70b28b;
$tile-8-bg: #609977;
$tile-16-bg: #40664f;
$tile-32-bg: #edcf72;
$tile-64-bg: #edc44b;
$tile-128-bg: #eac317;
$tile-256-bg: #ddb500;
$tile-512-bg: #ff7759;
$tile-1024-bg: #f65e3b;
$tile-2048-bg: #252424;

$primary-blue: #5772ff;

$text-light: #ffffff;
$text-darker: #b4b6b9;