$gradient-black-top: linear-gradient(
  180deg,
  rgba(25, 41, 65, 1) 0%,
  rgba(22, 35, 56, 1) 50%
);
$gradient-black-bottom: linear-gradient(
  0deg,
  rgba(25, 41, 65, 1) 0%,
  rgba(22, 35, 56, 1) 50%
);
$light-gradient-black: linear-gradient(
  180deg,
  rgba(25, 41, 65, 1) 0%,
  rgba(22, 35, 56, 1) 30%
);
$gradient-grey: linear-gradient(
  135deg,
  rgba(29, 47, 74, 1) 0%,
  rgba(25, 41, 65, 1) 75%
);

$black: #162338;
$dark-grey: #192941;
$grey: #1d2f4a;
$light-grey: #213354;
$lighter-grey: #24395c;

$mute: #a5a5a5;
$white: #eee;

$green: #3fc1d3;
$light-green: #62cedb;

$darker-orange: #e26041;
$dark-orange: #e77f66;
$orange: #f29164;
$light-orange: #f4a683;

$yellow: #f6ce7a;
$light-yellow: #f8d793;

$blue: #546ee6;
$light-blue: #778beb;

$coral: #e66666;
$light-coral: #eb8686;

$red: #c44567;
$light-red: #d06a87;

$purple: #574a90;
$light-purple: #776fa6;

$pink: #f88fb3;
$light-pink: #f8a6c2;
