@import './utils/_breakpoints.scss';
@import './utils/_colors.scss';
@import './utils/_media.scss';
@import './utils/_mixins.scss';
@import './utils/_sizes.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 2rem;
  min-height: 100vh;
  background-color: $darker-background;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text-dark;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input[type='range'] {
  width: 75%;
  height: 28px;
  -webkit-appearance: none;
  outline: none;
  border: 0;
  padding: 0 8px;
  margin: 8px 0;
  background: transparent;
}

input[type='range']::-webkit-slider-runnable-track {
  background: $dark-grey;
  height: 4px;
  border-radius: 4px;
  transition: 0.3s;
}

input[type='range']:hover::-webkit-slider-runnable-track,
input[type='range']:focus::-webkit-slider-runnable-track {
  background: $dark-grey;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: $button;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -8px;
  cursor: pointer;
  transition: 0.3s;
}

input[type='range']:hover::-webkit-slider-thumb,
input[type='range']:focus::-webkit-slider-thumb {
  background: $button;
}

input[type='range']::-moz-focus-outer {
  border: 0;
}

input[type='range']::-moz-range-track {
  background: $dark-grey;
  height: 4px;
  border-radius: 4px;
}

input[type='range']:hover::-moz-range-track,
input[type='range']:focus::-moz-range-track {
  background: $dark-grey;
}

input[type='range']::-moz-range-thumb {
  background: $button;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

input[type='range']:hover::-moz-range-thumb,
input[type='range']:focus::-moz-range-thumb {
  background: $button;
}

input[type='range']::-moz-range-progress {
  background: $button;
  border-radius: 4px;
  height: 4px;
}

input[type='range']:hover::-moz-range-progress,
input[type='range']:focus::-moz-range-progress {
  background: $button;
}

input[type='range']::-ms-track {
  background: $dark-grey;
  height: 4px;
  border-radius: 4px;
  border: none;
  color: transparent;
}

input[type='range']:hover::-ms-track,
input[type='range']:focus::-ms-track {
  background: $dark-grey;
}

input[type='range']::-ms-thumb {
  background: $button;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  margin: 0 4px 0;
}

input[type='range']:hover::-ms-thumb,
input[type='range']:focus::-ms-thumb {
  background: $button;
}

input[type='range']::-ms-tooltip {
  display: none;
}

input[type='range']::-ms-fill-lower {
  background: $button;
  border-radius: 4px;
}

input[type='range']:hover::-ms-fill-lower,
input[type='range']:focus::-ms-fill-lower {
  background: $button;
}

.text {
  order: 2;
  padding-top: 40px;
  width: 440px;
  font-weight: bold;
}

.button {
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  background-color: $button;
  color: $text-light;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
  min-width: 13.75ch;
  min-height: 35px;
  text-align: center;
  line-height: 1;
  transition: 220ms all ease-in-out;

  &:hover,
  &:active {
    background-color: scale-color($button, $lightness: -20%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px scale-color($button, $lightness: -40%);
  }

  &--small {
    font-size: 1.15rem;
  }
}

.icon-button {
  letter-spacing: 0.1ex;
  border: none;
  outline: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: transparent;
  color: $text-light;

  &::before {
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    display: block;
    content: '\a';
    background-color: $button;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-out;
    -moz-transition: background-color 0.25s ease-out;
    -o-transition: background-color 0.25s ease-out;
    transition: background-color 0.25s ease-out;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  }

  &:hover::before,
  &:active::before {
    background-color: scale-color($button, $lightness: -20%);
  }

  &:focus::before {
    outline: none;
    box-shadow: 0 0 0 4px scale-color($button, $lightness: -40%);
  }

  &.icon-button-small {
    padding-left: 40px;

    &::before {
      width: 30px;
      height: 30px;
      background-size: 50%;
    }
  }

  &.icon-button-medium {
    padding-left: 50px;

    &::before {
      width: 45px;
      height: 45px;
      background-size: 40%;
    }
  }

  &.icon-button-large {
    padding-left: 60px;

    &::before {
      width: 60px;
      height: 60px;
      background-size: 30%;
    }
  }

  &.icon-chart {
    &::before {
      background-image: url(../assets/images/icon-chart.svg);
    }
  }

  &.icon-controls {
    &::before {
      background-image: url(../assets/images/icon-controls.svg);
    }
  }

  &.icon-github {
    &::before {
      background-image: url(../assets/images/icon-github.svg);
    }
  }
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 5%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  background-color: $dark-background;

  .title {
    color: $text-light;
    margin-right: auto;
    font-size: 1.15rem;
    letter-spacing: 0.65rem;
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    > :not(:first-child) {
      margin-left: 2rem;
    }
  }
}

.board {
  order: 1;
  width: $board-size;
  height: $board-size;
  padding: 5px;
  background-color: $dark-background;
  border-radius: 7px;
  outline: none;
  position: relative;
}

.board-score {
  position: relative;
  margin-bottom: 0.8em;

  p {
    font-size: 1.85rem;
  }

  & > span {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-animation: fadeInFromNone 1s ease-out;
    -moz-animation: fadeInFromNone 1s ease-out;
    -o-animation: fadeInFromNone 1s ease-out;
    animation: fadeInFromNone 1s ease-out;
    transform: translateY(4rem);
  }
}

@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  35% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-2rem);
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  35% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-2rem);
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  35% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-2rem);
  }
}

@keyframes fadeInFromNone {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  35% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-2rem);
  }
}

.cell,
.tile {
  width: 100px;
  height: 100px;
  margin: 5px;
  line-height: 95px;
  display: inline-block;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
  color: $text-light;
  background-color: $lighter-background;
}

.board .cell,
.tile {
  user-select: none;
  cursor: default;
}

.tile-special {
  text-indent: -9999px;

  &::after {
    @include center();

    content: '';
    width: 32px;
    height: 32px;
  }
}

.tile-joker {
  background-color: $tile-joker-bg;

  &::after {
    background: url('../assets/images/joker.svg');
    background-size: 32px 32px;
  }
}

.tile-obstacle {
  background-color: $tile-obstacle-bg;

  &::after {
    background: url('../assets/images/obstacle.svg');
    background-size: 32px 32px;
  }
}

.tile-secret {
  background-color: $tile-secret-bg;

  &::after {
    background: url('../assets/images/secret.svg');
    background-size: 32px 32px;
  }
}

.tile0 {
  background-color: $tile-0-bg;
}

.tile2 {
  background-color: $tile-2-bg;
}

.tile4 {
  background-color: $tile-4-bg;
}

.tile8 {
  background-color: $tile-8-bg;
}

.tile16 {
  background-color: $tile-16-bg;
}

.tile32 {
  background-color: $tile-32-bg;
}

.tile64 {
  background-color: $tile-64-bg;
}

.tile128 {
  background-color: $tile-128-bg;
  font-size: 45px;
}

.tile256 {
  background-color: $tile-256-bg;
  font-size: 45px;
}

.tile512 {
  background-color: $tile-512-bg;
  font-size: 45px;
}

.tile1024 {
  background-color: $tile-1024-bg;
  font-size: 35px;
}

.tile2048 {
  background-color: $tile-2048-bg;
  font-size: 35px;
}

.tile {
  position: absolute;
}

.tile.merged {
  display: none;
}

.tile.merged.isMoving {
  display: inline;
}

.tile.new,
.overlay {
  animation-duration: 0.2s;
  animation-name: newTile;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
  transform: scale(0);
}

@keyframes newTile {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 20, 39, 0.75);
  border-radius: 7px;

  .message {
    font-size: 55px;
    font-weight: bolder;
    color: $text-light;
  }
}

.slider {
  margin-bottom: 0.7em;

  .slider-title {
    font-size: 0.85rem;
  }

  .slider-container {
    width: 100%;
    display: flex;
    flex: 1 4 1;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: $dark-grey;
  }

  .slider-value {
    font-size: 0.95rem;
    font-weight: bold;
    color: $text-light;
    letter-spacing: 0.05rem;
  }
}

.modal {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $dark-background;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border-radius: 7px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.18);
  padding: 40px;
  text-align: center;

  @include xs {
    min-width: 75%;
  }

  @include sm {
    min-width: 75%;
  }

  @include md {
    min-width: 65%;
  }

  @include lg {
    min-width: 55%;
  }

  @include xl {
    min-width: 45%;
  }

  .modal-title {
    color: $text-light;
    font-size: 1.45rem;
    margin-bottom: 0.5em;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5em;

    @include md {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 0;
    }
  }

  .modal-control-container {
    width: 45%;
  }

  p {
    font-size: 1.2rem;
    color: white;
  }

  button {
    margin-top: 10px;
  }
}

.distribution {
  display: flex;
  flex-direction: column;

  .distribution-title {
    font-size: 0.85rem;
    margin-bottom: 1.2em;
  }

  .distribution-visualization-container {
    display: block;
    width: auto;
    height: $visualization-container-size;
    margin-bottom: 30px;
  }
}

.statistics {
  display: flex;
  flex-direction: column;

  .statistics-title {
    font-size: 0.85rem;
    margin-bottom: 1.2em;
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
  transition: all 215ms ease-in 0s;
}

.sidebar {
  .sidebar-panel {
    overflow-y: auto;
    background-color: $dark-background;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 5;
    padding: 3rem 2rem 2rem;
    width: 300px;
    box-shadow: 2px 0 15px 1px rgba(0, 0, 0, 0.18);

    .sidebar-title {
      color: $text-light;
      font-size: 1.45rem;
      margin-bottom: 1.15em;
    }
  }
}

@for $row from 0 through 3 {
  @for $column from 0 through 3 {
    .position_#{$row}_#{$column}:not(.isMoving) {
      top: 110px * $row + 5px;
      left: 110px * $column + 5px;
    }
  }
}
/* stylelint-disable */
@for $fromRow from 0 through 3 {
  @for $toRow from 0 through 3 {
    $name: row_from_#{$fromRow}_to_#{$toRow};

    @if $fromRow == $toRow {
      .#{$name} {
        top: 110px * $toRow + 5px;
      }
    } @else {
      .#{$name} {
        animation-duration: 0.2s;
        animation-name: $name;
        animation-fill-mode: forwards;
      }

      @keyframes #{$name} {
        from {
          top: 110px * $fromRow + 5px;
        }

        to {
          top: 110px * $toRow + 5px;
        }
      }
    }
  }
}

@for $fromColumn from 0 through 3 {
  @for $toColumn from 0 through 3 {
    $name: column_from_#{$fromColumn}_to_#{$toColumn};

    @if $fromColumn == $toColumn {
      .#{$name} {
        left: 110px * $toColumn + 5px;
      }
    } @else {
      .#{$name} {
        animation-duration: 0.2s;
        animation-name: $name;
        animation-fill-mode: forwards;
      }

      @keyframes #{$name} {
        from {
          left: 110px * $fromColumn + 5px;
        }

        to {
          left: 110px * $toColumn + 5px;
        }
      }
    }
  }
}
/* stylelint-enable */
